.button-take {
    background-color: white;
}

.button-logout {
    background-color: white;
    color: #777;
}

.button-place-bid {
    background-color: #8cd4f5;
    margin-left: 5px;
}

.bid-form {
    margin-top: 15px
}

tr:hover {
    background-color: #f2f2f2;
}

.p-text {
    font-size: 25px;
}

.pure-g > div {
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

.main-menu-button {
    width: 220px;
    margin-bottom: 10px;
}