.button-take {
    background-color: white;
}

.button-logout {
    background-color: white;
    color: #777;
}

tr:hover {
    background-color: #f2f2f2;
}

.current-volume {
    font-size: 25px;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 1em;
}